body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    color: #333;
}
label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}
input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #e74c3c;;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #a7372a;;
}
.file-content {
    width: 50%;
    background-color: #ffffff;
    padding: 20px;

    margin-top: 20px;
    padding: 15px;
    background: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-wrap: break-word;
}
.container {
    max-width: 1000px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.content-container{
    display: flex; 
    justify-content: center;
}
table {
    width: 500px;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: center;
}
th {
    background-color: #e74c3c;;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}
.radio-button {
    display: flex;
    justify-content: center;
    align-items: center;
}